Package: dump1090-fa-dbgsym
Package-Type: ddeb
Source: dump1090-fa
Version: 7.2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Oliver Jowett <oliver.jowett@flightaware.com>
Installed-Size: 787
Depends: dump1090-fa (= 7.2)
Section: debug
Priority: optional
Description: debug symbols for dump1090-fa
Build-Ids: 33916361135380205840cf76c71dd352b2e79d2d 5de742e8108db0220953e0e618732d2b02d63dac 9cc9686ce874221a5de17648be0c5990580a2a6a
